################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chess/obj
/Chess/bin

/WindowsFormsChess/bin
/WindowsFormsChess/obj
/ChessConsole/obj

/WpfChess/obj
/WpfChess/bin
/ChessConsoleServer/bin/Debug/netcoreapp3.1
/debug.log
/ChessConsoleServer/obj/project.nuget.cache
JS/debug.log
/WebChess/obj
/ChessConsoleServer/obj
/WebChess/bin
/WFChess/bin/Debug/net6.0-windows
/WFChess/obj
/ChessConsoleServer/bin/Debug/net6.0
/Chess.Resources/obj
/Chess.Resources/bin/Debug/net6.0
